*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff52c1;
  --color-secondary: #edfbff;
  --color-headings: #00252e;
  --color-body: #808e9a;
  --color-hover: #ff9adb;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
